# **Belajar Python**

02 - Variabel

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1GhGdXiQwoIUC2rzz--ChUApEk_t2R-QB?usp=sharing)

*Oleh : Sinubi*

## Membuat dan Memberi Nilai pada Variabel

Variabel dapat dikatakan sebagai sebuah wadah untuk menampung suatu nilai. Variabel mempunyai nama serta nilai. Pemberian nilai pada variabel dapat dilakukan dengan operator `=`.

In [ ]:
# Contoh Variabel dengan Nilai berupa Teks (dengan petik tunggal)
nama = 'Sinubi'

print(nama)

Sinubi

In [ ]:
# Contoh Variabel dengan Nilai berupa Teks (dengan petik ganda)
jurusan = "Informatika"

print(jurusan)

Informatika

Perhatikan bahwa kita mengapit teks dengan tanda petik tunggal (bisa juga tanda petik ganda) untuk memberi nilai pada variabel nama dan jurusan.

**Contoh 1**
*   Nama Variabel : nama
*   Nilai Variabel : Sinubi

**Contoh 2**
*   Nama Variabel : jurusan
*   Nilai Variabel : Informatika

In [ ]:
# Contoh Variabel dengan Nilai berupa Angka/Bilangan Bulat
umur = 21

print(umur)

21

Perhatikan bahwa tidak diperlukan tanda petik tunggal maupun ganda untuk memberi nilai angka untuk variabel umur.

*   Nama Variabel : umur
*   Nilai Variabel : 21

## Melihat Tipe Data dari Variabel

Fungsi `type()` dapat digunakan untuk melihat tipe data dari suatu variabel

In [ ]:
# Contoh Variabel dengan Nilai Teks
nama = 'Sinubi'

type(nama)

str

Variabel 'nama' dengan nilai 'Sinubi' merupakan variabel bertipe *string* (str).

In [ ]:
# Contoh Variabel dengan Nilai Angka/Bilangan Bulat
umur = 21

type(umur)

int

Variabel 'umur' dengan nilai '21' merupakan variabel bertipe *integer* (int).

## Mengubah Nilai dari Variabel

Nilai dari suatu variabel (khusus untuk variabel *mutabale*) dapat diubah. Nilai variabel mengacu pada nilai terakhir yang telah diberikan.

In [ ]:
# Contoh Pengubahan Nilai Variabel
nama = 'Sinubi'
nama = 'Pemula'

print(nama)

Pemula

Pertama-tama, kita memberi nilai pada variabel 'nama' dengan teks 'Sinubi'. Kemudian, kita kembali memberi nilai pada variabel 'nama' dengan teks 'Pemula'. Maka, nilai dari variabel 'nama' mengacu pada nilai pemberian terakhir yaitu 'Pemula'.

## *Case Sensitive*

Penggunaan huruf besar dan kecil sangat berpengaruh terhadap penamaan variabel.

In [ ]:
nama = 'Sinubi'
Nama = 'Pemula'

print(nama)
print(Nama)

Sinubi
Pemula

Perhatikan bahwa penggunaan huruf besar membuat variabel 'Nama' tidak sama dengan variabel 'nama'.

## Aturan Penamaan Variabel

*   Nama Variabel harus diawali dengan karakter huruf atau garis bawah
*   Nama Variabel tidak boleh diawali dengan angka
*   Nama Variabel hanya boleh terdiri dari karakter huruf (huruf besar/kecil), angka (0 sampai dengan 9), dan garis bawah

Nama Variabel | Boleh/Tidak Boleh
--- | ---
nama = "Sinubi" | Boleh
nama_siswa = "Sinubi" | Boleh
_nama = "Sinubi" | Boleh
namaSiswa = "Sinubi" | Boleh
NAMA = "Sinubi" | Boleh
nama2 = "Pemula" | Boleh
2nama = "Pemula" | Tidak Boleh
nama-siswa = "Sinubi" | Tidak Boleh
nama siswa = "Sinubi" | Tidak Boleh

## Memberi Nilai pada Suatu Variabel dari Masukan Pengguna atau *User*

*User* atau Pengguna dapat memberi nilai pada suatu variabel dengan menggunakan fungsi `input()`.

In [ ]:
# Jalankan cell ini dan kemudian ketikkan sebuah nama lalu tekan enter
nama_masukan_user = input()

print('Nama Anda adalah ' + nama_masukan_user)

Budi
Nama Anda adalah Budi

Ketika *User* atau Pengguna memberi nilai melalui fungsi `input()`, tipe data dari nilai tersebut adalah *string*. Mari kita cek tipe data dari variabel 'nama_masukan_user'

In [ ]:
type(nama_masukan_user)

str

## Memberi Nilai untuk Banyak Variabel Sekaligus

In [ ]:
# Contoh Pemberian Nilai untuk Banyak Variabel Sekaligus dengan Nilai yang Berbeda
nama, umur, jurusan = 'Sinubi', 21, 'Informatika'

print('Saya adalah siswa jurusan ' + jurusan + ' yang bernama ' + nama +
      ' dan berusia ' + str(umur) + ' tahun')

Saya adalah siswa jurusan Informatika yang bernama Sinubi dan berusia 21 tahun

In [ ]:
# Contoh Pemberian Nilai untuk Banyak Variabel Sekaligus dengan Nilai yang Sama
umur1 = umur2 = 21

print(umur1)
print(umur2)

21
21

# Referensi Eksternal

*   https://www.w3schools.com/python/python_variables.asp
*   https://www.programiz.com/python-programming/variables-constants-literals