# **Belajar Python**

03 - Tipe Data

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/10kORqm5RItreAXUZ3pqgaZX6T68V-g6b?usp=sharing)

*Oleh : Sinubi*

## Tipe Data Python

Variabel dapat dikatakan sebagai sebuah wadah untuk menampung nilai. Dalam hal ini, variabel memiliki tipe datanya tersendiri. Berikut tipe data bawaan pada Python.

Kategori | Tipe Data
--- | ---
Tipe Teks  (*Text*) |	str
Tipe Numerik (*Numeric*) |	int, float, complex
Tipe Urutan (*Sequence*) |	list, tuple, range
Tipe Pemetaan (*Mapping*) |	dict
Tipe Himpunan (*Set*) |	set, frozenset
Tipe *Boolean* |	bool
Tipe Biner (*Binary*) |	bytes, bytearray, memoryview
Tipe Kosong (*None*) |	NoneType

### Tipe Data Teks (*String*)

Tipe Data `string` digunakan untuk menyimpan nilai berupa tulisan atau teks.

In [ ]:
# Membuat Variabel String dengan Tanda Petik Tunggal
nama = 'Sinubi'

print(nama)
type(nama)

str

In [ ]:
# Membuat Variabel String dengan Tanda Petik Ganda
nama = "Sinubi"

print(nama)
type(nama)

str

### Tipe Data Numerik (*Integer*)

Tipe Data `int` digunakan untuk menyimpan nilai berupa bilangan bulat.

In [ ]:
# Membuat Variabel Integer
bilangan = 20

print(bilangan)
type(bilangan)

20

int

### Tipe Data Numerik (*Float*)

Tipe Data `float` digunakan untuk menyimpan nilai berupa bilangan riil.

In [ ]:
# Membuat Variabel Float
bilangan = 17.35719

print(bilangan)
type(bilangan)

17.35719

float

In [ ]:
# Contoh Formatting Float (Cara 1)
bilangan = 17.35719

print(bilangan)
print("%.1f" % bilangan)
print("%.2f" % bilangan)
print("%.3f" % bilangan)
print("%.4f" % bilangan)

17.35719
17.4
17.36
17.357
17.3572

In [ ]:
# Contoh Formatting Float (Cara 2)
bilangan = 17.35719

print(bilangan)
print("{:.1f}".format(bilangan))
print("{:.2f}".format(bilangan))
print("{:.3f}".format(bilangan))
print("{:.4f}".format(bilangan))

17.35719
17.4
17.36
17.357
17.3572

### Tipe Data Numerik (Complex)

Tipe Data `complex` digunakan untuk menyimpan nilai berupa bilangan kompleks.

In [ ]:
# Membuat Variabel Kompleks
bilangan = 5.2 + 3.1j

print(bilangan)
type(bilangan)

(5.2+3.1j)

complex

In [ ]:
# Menampilkan Bagian Real
bilangan = 5.2 + 3.1j

print(bilangan.real)

5.2

In [ ]:
# Menampilkan Bagian Imajiner
bilangan = 5.2 + 3.1j

print(bilangan.imag)

3.1

### Tipe Data Urutan (List)

Tipe Data `list` digunakan untuk menyimpan beberapa nilai ke dalam sebuah variabel.

In [ ]:
# Membuat Variabel List (Contoh 1)

makanan = ['bakso', 'nasi goreng', 'mie goreng', 'sate']

print(makanan)
type(makanan)

['bakso', 'nasi goreng', 'mie goreng', 'sate']

list

In [ ]:
# Membuat Variabel List (Contoh 2)

nilai_siswa = [80, 72, 67, 90, 83, 78]

print(nilai_siswa)
type(nilai_siswa)

[80, 72, 67, 90, 83, 78]

list

In [ ]:
# Mengakses item pada List

print(makanan[2])
print(nilai_siswa[2])

mie goreng
67

`list` dapat menampung nilai dengan tipe data berbeda.

In [ ]:
# Contoh List yang terdiri dari item dengan tipe data berbeda

campur_sari = ['buku', 'pensil', 80, 5.7, 5.2 + 3.1j]

print(campur_sari)
type(campur_sari)

['buku', 'pensil', 80, 5.7, (5.2+3.1j)]

list

`list` merupakan tipe data yang 'mutable'. Artinya, *item* pada `list` dapat diganti nilainya tanpa mengalokasikan alamat baru pada memori.

In [ ]:
# Ilustrasi "Mutable" untuk List

mata_pelajaran = ['Matematika', 'Fisika', 'Kimia']

print(mata_pelajaran)
id(mata_pelajaran) # id objek (list) yang kita buat

['Matematika', 'Fisika', 'Kimia']

140379593164032

Kita akan ganti salah satu nama mata pelajaran dan kita akan lihat apakah id dari objek (`list`) tersebut berubah atau tidak.

In [ ]:
# Mengganti salah satu nama mata pelajaran

mata_pelajaran[1] = 'Biologi'

print(mata_pelajaran)
id(mata_pelajaran) # id objek (list) yang kita buat

['Matematika', 'Biologi', 'Kimia']

140379593164032

Dapat kita lihat bahwa id dari objek `list` tersebut tidak berubah walaupun kita mengganti salah satu nama mata pelajaran yang ada.

### Tipe Data Urutan (Tuple)

Tipe Data `tuple` digunakan untuk menyimpan beberapa nilai ke dalam sebuah variabel. Berbeda dengan list, tipe data ini bersifat 'immutable'. Artinya, kita tidak dapat mengganti nilai pada variabel yang telah kita definisikan.

In [ ]:
# Membuat Variabel Tuple (Contoh 1)

makanan = ('bakso', 'nasi goreng', 'mie goreng', 'sate')

print(makanan)
type(makanan)

('bakso', 'nasi goreng', 'mie goreng', 'sate')

tuple

In [ ]:
# Membuat Variabel Tuple (Contoh 2)

nilai_siswa = (80, 72, 67, 90, 83, 78)

print(nilai_siswa)
type(nilai_siswa)

(80, 72, 67, 90, 83, 78)

tuple

In [ ]:
# Mengakses item pada Tuple

print(makanan[2])
print(nilai_siswa[2])

mie goreng
67

`tuple` dapat menampung nilai dengan tipe data berbeda.

In [ ]:
# Contoh Tuple yang terdiri dari item dengan tipe data berbeda

campur_sari = ('buku', 'pensil', 80, 5.7, 5.2 + 3.1j)

print(campur_sari)
type(campur_sari)

('buku', 'pensil', 80, 5.7, (5.2+3.1j))

tuple

`tuple` merupakan tipe data yang 'immutable'. Artinya, *item* pada `tuple` tidak dapat diganti nilainya.

In [ ]:
# Ilustrasi "Immutable" untuk Tuple

mata_pelajaran = ('Matematika', 'Fisika', 'Kimia')

print(mata_pelajaran)
id(mata_pelajaran) # id objek (tuple) yang kita buat

('Matematika', 'Fisika', 'Kimia')

140379101249984

Kita akan ganti salah satu nama mata pelajaran dari `tuple` tersebut.

In [ ]:
# Mengganti salah satu nama mata pelajaran

mata_pelajaran[1] = 'Biologi'

print(mata_pelajaran)
id(mata_pelajaran) # id objek (tuple) yang kita buat

TypeError: ignored

Pesan kesalahan atau *error* muncul ketika kita hendak mengganti salah satu nilai dari `tuple` yang telah kita definisikan.

Kita tetap dapat mengganti nilai dari salah satu nama mata pelajaran dengan melakukan *assignment* ulang. Namun, hal ini akan membuat `tuple` baru sehingga objek `tuple` akan mendapatkan id yang baru.

In [ ]:
# Mengganti salah satu nama mata pelajaran

mata_pelajaran = ('Matematika', 'Biologi', 'Kimia')

print(mata_pelajaran)
id(mata_pelajaran) # id objek (tuple) yang kita buat

('Matematika', 'Biologi', 'Kimia')

140379594908160

Dapat Anda lihat bahwa id dari objek `tuple` tersebut telah berubah.

### Tipe Data Pemetaan (*Dictionary*)

Tipe Data `dict` digunakan untuk menyimpan nilai dengan pasangan kuncinya. Nilai pada *dictionary* dapat diakses melalui kunci atau *key*.

In [ ]:
# Membuat Variabel Dictionary

siswa = {'nama' : 'Sinubi',          # kunci 1 = 'nama', nilai 1 = 'Sinubi'
         'umur' : 20,                # kunci 2 = 'umur', nilai 2 = 20
         'jenis_kelamin' : 'pria'}   # kunci 3 = 'jenis_kelamin', nilai 3 = 'pria'

print(siswa)
type(siswa)

{'nama': 'Sinubi', 'umur': 20, 'jenis_kelamin': 'pria'}

dict

In [ ]:
# Mengakses nilai pada Dictionary menggunakan kunci yang sesuai

print(siswa['nama'])
print(siswa['umur'])
print(siswa['jenis_kelamin'])

Sinubi
20
pria

Pada *Dictionary*, jangan menggunakan kunci atau *key* yang sama. Apabila hal ini terjadi, maka kunci dan nilai terakhirlah yang akan menjadi acuan.

In [ ]:
# Membuat Variabel Dictionary dengan 2 kunci yang sama

siswa = {'nama' : 'Sinubi',          # kunci 1 = 'nama', nilai 1 = 'Sinubi'
         'umur' : 20,                # kunci 2 = 'umur', nilai 2 = 20
         'jenis_kelamin' : 'pria',   # kunci 3 = 'jenis_kelamin', nilai 3 = 'pria'
         'umur' : 18}                # kunci umur sudah ada sebelumnya (tidak diperbolehkan !)

print(siswa)
type(siswa)

{'nama': 'Sinubi', 'umur': 18, 'jenis_kelamin': 'pria'}

dict

### Tipe Data Himpunan (*Set*)

Tipe Data `set` digunakan untuk menyimpan beberapa nilai yang berbeda ke dalam sebuah variabel. Pada `set`, tidak diperkenankan menyimpan 2 *item* dengan nilai yang sama.

In [ ]:
# Membuat Variabel Set

himpunan = {80, 77, 58, 21, 80, 38}

print(himpunan)
type(himpunan)

{80, 21, 38, 58, 77}

set

Perhatikan bahwa terdapat 2 *item* dengan nilai 80. Namun, hanya satu nilai 80 yang disimpan pada `set`.

### Tipe Data *Boolean* (*Bool*)

Tipe Data `bool` digunakan untuk menyimpan salah satu dari kedua nilai berikut, yaitu *True* atau *False*.

In [ ]:
# Membuat Variabel Boolean (Contoh 1)

lulus = True

print(lulus)
type(lulus)

True

bool

In [ ]:
# Membuat Variabel Boolean (Contoh 2)

lulus = False

print(lulus)
type(lulus)

False

bool

### Tipe Data Biner (*Bytes*)

Tipe Data `bytes` digunakan untuk menyimpan nilai dalam bentuk biner.

In [ ]:
# Membuat Variabel Bytes

teks = b'halo'

print(teks)
type(teks)

b'halo'

bytes

Awalan 'b' didepan berfungsi untuk menyimpan *string* 'halo' ke dalam bentuk biner. Berikut adalah representasi ASCII (desimal) untuk *string* 'halo' yang sebelumnya kita simpan dalam bentuk biner.

In [ ]:
# Menampilkan Representasi ASCII (Desimal)

print(list(teks))

[104, 97, 108, 111]

### Tipe Data Kosong (*None*)

Tipe Data `none` digunakan untuk menyimpan nilai kosong atau nilai *Null*.

In [ ]:
# Membuat Variabel Kosong atau Null

tanpa_nilai = None

print(tanpa_nilai)
type(tanpa_nilai)

None

NoneType

## Konversi Tipe Data

### Konversi Tipe Data Implisit
Konversi Tipe Data secara Implisit dilakukan oleh Python sendiri akibat suatu operasi yang terjadi.

In [ ]:
# Contoh Konversi Tipe Data secara Implisit

x = 5
print(type(x))  # tipe data 'x' masih integer
print(x)        # menampilkan nilai 'x' sebelum konversi tipe data

x /= 2
print(type(x))  # tipe data 'x' berubah menjadi float akibat operasi pembagian
print(x)        # menampilkan nilai 'x' sesudah konversi tipe data

<class 'int'>
5
<class 'float'>
2.5

Dapat kita lihat bahwa variabel 'x' awalnya bertipa `integer`. Kemudian tipe variabel 'x' berubah menjadi `float` akibat operasi pembagian yang dilakukan.

### Konversi Tipe Data Eksplisit
Konversi Tipe Data secara Eksplisit merupakan konversi yang tertulis pada kode pemograman.

Fungsi | Keterangan | Contoh
--- | --- | ---
int() | Mengubah Tipe Data menjadi `Integer` | int(x)
float() | Mengubah Tipe Data menjadi `Float` | float(x)
str() | Mengubah Tipe Data menjadi `String` | str(x)

#### Konversi Tipe Data ke `Integer`

In [ ]:
# Contoh Konversi Tipe Data secara Eksplisit dari String ke Integer

x = '3'
print(type(x)) # tipe data 'x' adalah 'string'
print(x)       # menampilkan nilai 'x' sebelum konversi tipe data

x = int(x)     # konversi tipe data ke 'integer'
print(type(x)) # tipe data 'x' berubah menjadi 'integer'
print(x)       # menampilkan nilai 'x' sesudah konversi tipe data

<class 'str'>
3
<class 'int'>
3

In [ ]:
# Contoh Konversi Tipe Data secara Eksplisit dari Float ke Integer - Contoh 1

x = 3.0
print(type(x)) # tipe data 'x' adalah 'float'
print(x)       # menampilkan nilai 'x' sebelum konversi tipe data

x = int(x)     # konversi tipe data ke 'integer'
print(type(x)) # tipe data 'x' berubah menjadi 'integer'
print(x)       # menampilkan nilai 'x' sesudah konversi tipe data

<class 'float'>
3.0
<class 'int'>
3

In [ ]:
# Contoh Konversi Tipe Data secara Eksplisit dari Float ke Integer - Contoh 2

x = 3.5
print(type(x)) # tipe data 'x' adalah 'float'
print(x)       # menampilkan nilai 'x' sebelum konversi tipe data

x = int(x)     # konversi tipe data ke 'integer'
print(type(x)) # tipe data 'x' berubah menjadi 'integer'
print(x)       # menampilkan nilai 'x' sesudah konversi tipe data

<class 'float'>
3.5
<class 'int'>
3

In [ ]:
# Contoh Konversi Tipe Data secara Eksplisit dari Float ke Integer - Contoh 3

x = 3.9
print(type(x)) # tipe data 'x' adalah 'float'
print(x)       # menampilkan nilai 'x' sebelum konversi tipe data

x = int(x)     # konversi tipe data ke 'integer'
print(type(x)) # tipe data 'x' berubah menjadi 'integer'
print(x)       # menampilkan nilai 'x' sesudah konversi tipe data

<class 'float'>
3.9
<class 'int'>
3

#### Konversi Tipe Data ke `Float`

In [ ]:
# Contoh Konversi Tipe Data secara Eksplisit dari String ke Float

x = '3.7'
print(type(x)) # tipe data 'x' adalah 'string'
print(x)       # menampilkan nilai 'x' sebelum konversi tipe data

x = float(x)   # konversi tipe data ke 'float'
print(type(x)) # tipe data 'x' berubah menjadi 'float'
print(x)       # menampilkan nilai 'x' sesudah konversi tipe data

<class 'str'>
3.7
<class 'float'>
3.7

In [ ]:
# Contoh Konversi Tipe Data secara Eksplisit dari Integer ke Float

x = 3
print(type(x)) # tipe data 'x' adalah 'integer'
print(x)       # menampilkan nilai 'x' sebelum konversi tipe data

x = float(x)   # konversi tipe data ke 'float'
print(type(x)) # tipe data 'x' berubah menjadi 'float'
print(x)       # menampilkan nilai 'x' sesudah konversi tipe data

<class 'int'>
3
<class 'float'>
3.0

#### Konversi Tipe Data ke `String`

In [ ]:
# Contoh Konversi Tipe Data secara Eksplisit dari Integer ke String

x = 3
print(type(x)) # tipe data 'x' adalah 'integer'
print(x)       # menampilkan nilai 'x' sebelum konversi tipe data

x = str(x)   # konversi tipe data ke 'string'
print(type(x)) # tipe data 'x' berubah menjadi 'string'
print(x)       # menampilkan nilai 'x' sesudah konversi tipe data

<class 'int'>
3
<class 'str'>
3

In [ ]:
# Contoh Konversi Tipe Data secara Eksplisit dari Float ke String

x = 3.7
print(type(x)) # tipe data 'x' adalah 'float'
print(x)       # menampilkan nilai 'x' sebelum konversi tipe data

x = str(x)   # konversi tipe data ke 'string'
print(type(x)) # tipe data 'x' berubah menjadi 'string'
print(x)       # menampilkan nilai 'x' sesudah konversi tipe data

<class 'float'>
3.7
<class 'str'>
3.7

# Referensi Eksternal

*   https://www.w3schools.com/python/python_datatypes.asp
*   https://www.digitalocean.com/community/tutorials/python-data-types
*   https://www.geeksforgeeks.org/python-data-types/
*   https://www.programiz.com/python-programming/variables-datatypes
*   https://realpython.com/python-data-types/

*   https://www.w3schools.com/python/python_casting.asp
*   https://www.programiz.com/python-programming/type-conversion-and-casting