# **Belajar Python**

04 - Operator

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1F9zBnbAb5SRdRkBy63SZ6UYEtyDyda8K?usp=sharing)

*Oleh : Sinubi*

## Oeprator Aritmatika

Operator | Keterangan | Contoh
--- | --- | ---
+ | Penjumlahan | x + y
- | Pengurangan | x - y
* | Perkalian | x * y
/ | Pembagian | x / y
// | Pembagian Lantai atau Pembagian dengan Pembulatan ke Bawah | x // y
% | Modulus atau Sisa Pembagian | x % y
** | Eksponen atau Pemangkatan | x ** y

In [ ]:
# Contoh Operator Penjumlahan

x = 7
y = 3

print(x + y)

10

In [ ]:
# Contoh Operator Pengurangan

x = 7
y = 3

print(x - y)

4

In [ ]:
# Contoh Operator Perkalian

x = 7
y = 3

print(x * y)

21

In [ ]:
# Contoh Operator Pembagian

x = 7
y = 3

print(x / y)

2.3333333333333335

In [ ]:
# Contoh Operator Pembagian Lantai
x = 7
y = 3

print(x // y)

2

In [ ]:
# Contoh Operator Modulus

x = 7
y = 3

print(x % y)

1

In [ ]:
# Contoh Operator Eksponen

x = 7
y = 3

print(x ** y)

343

## Oeprator *Assignment* atau Pemberian Nilai

Operator | Keterangan | Contoh | Sama Dengan
--- | --- | --- | ---
= | *Assignment* atau Pemberian Nilai | x = 3 | x = 3
+= | *Addition Assignment* atau Pemberian Nilai dengan Penambahan | x += 3 | x = x + 3
-= | *Subtraction Assignment* atau Pemberian Nilai dengan Pengurangan | x -= 3 | x = x - 3
*= | *Multiplication Assignment* atau Pemberian Nilai dengan Perkalian | x *= 3 | x = x * 3
/= | *Division Assignment* atau Pemberian Nilai dengan Pembagian | x /= 3 | x = x / 3
//= | *Floor Division Assignment* atau Pemberian Nilai dengan Pembagian Lantai | x //= 3 | x = x // 3
% | *Remainder Assignment* atau Pemberian Nilai Hasil Bagi | x %= 3 | x = x % 3
** | *Exponent Assignment* atau Pemberian Nilai Hasil Pemangkatan | x **= 3 | x = x ** 3

In [ ]:
# Contoh Operator Assignment

x = 7

print(x)

7

In [ ]:
# Contoh Operator Addition Assignment

x = 7
x += 3

print(x)

10

In [ ]:
# Contoh Operator Subtraction Assignment

x = 7
x -= 3

print(x)

4

In [ ]:
# Contoh Operator Multiplication Assignment

x = 7
x *= 3

print(x)

21

In [ ]:
# Contoh Operator Division Assignment

x = 7
x /= 3

print(x)

2.3333333333333335

In [ ]:
# Contoh Operator Floor Division Assignment

x = 7
x //= 3

print(x)

2

In [ ]:
# Contoh Operator Remainder Assignment

x = 7
x %= 3

print(x)

1

In [ ]:
# Contoh Operator Exponent Assignment

x = 7
x **= 3

print(x)

343

## Operator Perbandingan

Operator | Keterangan | Contoh
--- | --- | ---
== | Sama dengan : Mengeluarkan Nilai `True` apabila Kedua Operand bernilai Sama  | x == y
!= | Tidak Sama dengan : Mengeluarkan Nilai `True` apabila Kedua Operand memiliki Nilai yang Berbeda atau Tidak Sama  | x != y
> | Lebih Besar dari : Mengeluarkan Nilai `True` apabila Operand Kiri bernilai Lebih Besar daripada Operand Kanan  | x > y
< | Lebih Kecil dari : Mengeluarkan Nilai `True` apabila Operand Kiri bernilai Lebih Kecil daripada Operand Kanan  | x < y
>= | Lebih Besar dari atau Sama dengan : Mengeluarkan Nilai `True` apabila Operand Kiri Lebih Besar atau Sama dengan Operand Kanan | x >= y
<= | Lebih Besar dari atau Sama dengan : Mengeluarkan Nilai `True` apabila Operand Kiri bernilai Lebih Kecil atau Sama dengan Operand Kanan | x <= y

### Contoh Operator `==` (Sama dengan)

In [ ]:
# Contoh Operator Perbandingan (Sama dengan) - Contoh 1

x = 7
y = 3

print(x == y)

False

In [ ]:
# Contoh Operator Perbandingan (Sama dengan) - Contoh 2

x = 7
y = 7

print(x == y)

True

### Contoh Operator `!=` (Tidak Sama dengan)

In [ ]:
# Contoh Operator Perbandingan (Tidak Sama dengan) - Contoh 1

x = 7
y = 3

print(x != y)

True

In [ ]:
# Contoh Operator Perbandingan (Tidak Sama dengan) - Contoh 2

x = 7
y = 7

print(x != y)

False

### Contoh Operator `>` (Lebih Besar dari)

In [ ]:
# Contoh Operator Perbandingan (Lebih Besar dari) - Contoh 1

x = 7
y = 3

print(x > y)

True

In [ ]:
# Contoh Operator Perbandingan (Lebih Besar dari) - Contoh 2

x = 3
y = 7

print(x > y)

False

### Contoh Operator `<` (Lebih Kecil dari)

In [ ]:
# Contoh Operator Perbandingan (Lebih Kecil dari) - Contoh 1

x = 7
y = 3

print(x < y)

False

In [ ]:
# Contoh Operator Perbandingan (Lebih Kecil dari) - Contoh 2

x = 3
y = 7

print(x < y)

True

### Contoh Operator `>=` (Lebih Besar dari atau Sama dengan)

In [ ]:
# Contoh Operator Perbandingan (Lebih Besar dari atau Sama dengan) - Contoh 1

x = 7
y = 3

print(x >= y)

True

In [ ]:
# Contoh Operator Perbandingan (Lebih Besar dari atau Sama dengan) - Contoh 2

x = 3
y = 7

print(x >= y)

False

In [ ]:
# Contoh Operator Perbandingan (Lebih Besar dari atau Sama dengan) - Contoh 2

x = 3
y = 3

print(x >= y)

True

### Contoh Operator `<=` (Lebih Kecil dari atau Sama dengan)

In [ ]:
# Contoh Operator Perbandingan (Lebih Kecil dari atau Sama dengan) - Contoh 1

x = 7
y = 3

print(x <= y)

False

In [ ]:
# Contoh Operator Perbandingan (Lebih Kecil dari atau Sama dengan) - Contoh 2

x = 3
y = 7

print(x <= y)

True

In [ ]:
# Contoh Operator Perbandingan (Lebih Kecil dari atau Sama dengan) - Contoh 2

x = 3
y = 3

print(x <= y)

True

## Operator Logika

Operator | Keterangan | Contoh
--- | --- | ---
and | Mengeluarkan Nilai `True` apabila Kedua Operand/Statement bernilai `True` | x and y
or | Mengeluarkan Nilai `True` apabila Setidaknya Salah Satu dari Operand/Statement bernilai `True` | x or y
not | Mengeluarkan Nilai `True` apabila Operand/Statement bernilai `False` dan Sebaliknya | not x

**Tabel Kebenaran 'AND'**

x | y | x and y
--- | --- | ---
`True` | `True` | `True`
`True` | `False` | `False`
`False` | `True` | `False`
`False` | `False` | `False`

**Tabel Kebenaran 'OR'**

x | y | x or y
--- | --- | ---
`True` | `True` | `True`
`True` | `False` | `True`
`False` | `True` | `True`
`False` | `False` | `False`

**Tabel Kebenaran 'NOT'**

x | not x
--- | ---
`True` | `False`
`False` | `True`

### Contoh Operator `and`

In [ ]:
# Contoh Operator And - Contoh 1

x = True
y = True

print(x and y)

True

In [ ]:
# Contoh Operator And - Contoh 2

x = True
y = False

print(x and y)

False

In [ ]:
# Contoh Operator And - Contoh 3

x = False
y = False

print(x and y)

False

In [ ]:
# Contoh Operator And - Contoh 4

x = 5
y = 3

print(x < 7 and y > 2)

True

In [ ]:
# Contoh Operator And - Contoh 5

x = 5
y = 3

print(x == 7 and y > 2)

False

### Contoh Operator `or`

In [ ]:
# Contoh Operator Or - Contoh 1

x = True
y = True

print(x or y)

True

In [ ]:
# Contoh Operator Or - Contoh 2

x = True
y = False

print(x or y)

In [ ]:
# Contoh Operator Or - Contoh 3

x = False
y = False

print(x or y)

False

In [ ]:
# Contoh Operator Or - Contoh 4

x = 5
y = 3

print(x < 7 or y > 2)

True

In [ ]:
# Contoh Operator Or - Contoh 5

x = 5
y = 3

print(x == 7 or y > 2)

True

### Contoh Operator `not`

In [ ]:
# Contoh Operator Not - Contoh 1

x = True

print(not x)

False

In [ ]:
# Contoh Operator Not - Contoh 2

x = False

print(not x)

True

In [ ]:
# Contoh Operator Not - Contoh 3

x = 5

print(not x < 7)

False

In [ ]:
# Contoh Operator Not - Contoh 4

x = 5

print(not x > 7)

True

## Operator Identitas

Operator | Keterangan | Contoh
--- | --- | ---
is | Mengeluarkan Nilai `True` apabila Kedua Variabel merupakan Objek yang Sama | x is y
is not | Mengeluarkan Nilai `True` apabila Kedua Variabel merupakan Objek yang Berbeda | x is not y

In [ ]:
# Contoh Operator Is

x = ['budi','ani','tono']
y = ['putri','putra','ayu']
z = x

print(id(x))
print(id(y))
print(id(z))

print(x is y)
print(x is z)

135932745630592
135932354898624
135932745630592
False
True

Perhatikan bahwa x dan z merujuk pada Objek yang Sama (Id Objeknya Sama)

In [ ]:
# Contoh Operator Is Not

x = ['budi','ani','tono']
y = ['putri','putra','ayu']
z = x

print(id(x))
print(id(y))
print(id(z))

print(x is not y)
print(x is not z)

135932339891136
135932358761920
135932339891136
True
False

## Operator Keanggotaan

Operator | Keterangan | Contoh
--- | --- | ---
in | Mengeluarkan Nilai `True` apabila Sebuah Elemen Terdapat pada Suatu Objek | x in y
not in | Mengeluarkan Nilai `True` apabila Sebuah Elemen Tidak Terdapat pada Suatu Objek | x not in y

In [ ]:
# Contoh Operator In - Contoh 1

x = 'budi'
y = ['budi','ani','tono']

print(x in y)

True

In [ ]:
# Contoh Operator In - Contoh 2

x = 'ayu'
y = ['budi','ani','tono']

print(x in y)

False

In [ ]:
# Contoh Operator Not In - Contoh 1

x = 'budi'
y = ['budi','ani','tono']

print(x not in y)

False

In [ ]:
# Contoh Operator Not In - Contoh 2

x = 'ayu'
y = ['budi','ani','tono']

print(x not in y)

True

# Referensi Eksternal

*   https://www.w3schools.com/python/python_operators.asp
*   https://www.digitalocean.com/community/tutorials/python-operators
*   https://www.geeksforgeeks.org/python-operators/?ref=lbp
*   https://www.programiz.com/python-programming/operators